header{
    margin-top: 20px;
    line-height: 0;
    border: 1px solid #eaeaea;
    border-radius: 2.5vw;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 40px -5px rgba(0,0,0,0.05);
    box-shadow: 0 10px 40px -5px rgba(0,0,0,0.05);
    padding: 5vw;
    background-color: white;
    text-align: center;
}

header>p{
    color: #8e8e8e;
    margin: 2vw 0;
}
header>h1:last-child{
    color: #1da1f2;
}