header {
    margin-top: 20px;
    padding: 5vw;
    background-color: white;
    text-align: center;
    border-radius: 2.5vw;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

header > p {
    color: #8e8e8e;
    margin-top: 40px;
}

#services {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(33% - 7.5px));
    grid-gap: 15px;
    justify-content: space-between;
    list-style: none;
    margin: 0 -2vw;
    padding: 0;
    z-index: 9;
}

@media only screen and (max-width: 850px) {
    #services {
        grid-template-columns: repeat(auto-fill, calc(50% - 7.5px));
    }
}

@media only screen and (max-width: 550px) {
    #services {
        grid-template-columns: repeat(auto-fill, 100%);
    }
}

#services > li {
    display: inline-block;
    position: relative;
    background-color: white;
    border-radius: 1vw;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 40px -5px rgba(0, 0, 0, 0.05);
    text-overflow: ellipsis;
    overflow: hidden;
}

#services > li > a {
    display: block;
    padding: 15px;
    padding-bottom: 30px;
}

#services > li > a:hover {
    text-decoration: none;
}

#services > li h2,
#services > li h3 {
    margin: 0;
    margin-bottom: 10px;
}

#services > li p {
    color: black;
}

#services > li button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 0;
    color: #8e8e8e;
    background-color: #fcfcfc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.twitter h2 {
    color: #1da1f2
}

.facebook h2 {
    color: #4267b2
}

.instagram h2 {
    color: #3f729b;
}

.youtube h2 {
    color: #FF0000;
}

.vimeo h2 {
    color: #aad450;
}

.twitch h2 {
    color: #6441A4;
}

.linkedin h2 {
    color: #007bb5;
}

.github h2 {
    color: #000000;
}

.stackoverflow h2 {
    color: #F48024;
}

.behance h2 {
    color: #1769ff;
}

.pinterest h2 {
    color: #cb2027;
}

.reddit h2 {
    color: #ff4500;
}

.medium h2 {
    color: #000;
}

.tumblr h2 {
    color: #32506d;
}

.wikipedia h2 {
    color: #000;
}


#arrow {
    position: relative;
    margin-top: -10vh;
    text-align: center;
    font-size: 15em;
    color: white;
    z-index: 1;
}

#arrow:after {
    content: "";
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
    top: 0;
    background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 0.99) 1%, rgba(252, 252, 252, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 0.99) 1%, rgba(252, 252, 252, 0) 100%);
    background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%, rgba(252, 252, 252, 0.99) 1%, rgba(252, 252, 252, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#00fcfcfc', GradientType=0);
}